<nav>
  <div class="nav-wrapper container">
    <a href="/auth/logout" class="brand-logo right">Log out</a>
    <a href="#" class="brand-logo left">{{name}}</a>
    <a href='#' class="brand-logo text center" id="num-users"># fellow runners: 0</a>
  </div>
</nav>