<% if(typeof errors != 'undefined') { %>
<%    errors.forEach(function(error) { %>
<%=    error.msg %>
<%   }); %>
<% } %>


<div class = "message is-success">
  <% if(success_msg != ' '){ %>
  <%=  success_msg  %>
<% } %>
</div>

<div class 'message is-warning'>
  <% if(error_msg != ' '){ %>
  <%=  error_msg  %>
<% } %>
</div>

<div class 'message is-warning'>
  <% if(error != ' '){ %>
  <%=  error  %>
<% } %>
</div>
