<% if(typeof errors != 'undefined'){ %> 
  <% errors.forEach(function(error) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error.msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
  <% }); %> 
<% } %>

<% if(successmsg.length > 0 ) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= successmsg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
<% } %>

<% if(errormsg.length > 0 ) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= errormsg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
<% } %>
