<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    
    <meta name="description" content="A cool thing made with Glitch">

    <title class = "title is-2">Grocery Manager</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>


  <block class = "box has-text-centered">
  <div class = "columns">
    <div class= "column">
      
    </div>
    <div class = "column is-centered">
        <body>
    <header>
      <h1 class = "title is-3">Grocery Manager</h1>
    </header>

    <main>

      <p>Create your grocery list:</p>

      <form>
        <label>
          New Item
          <input name="dream" type="text" maxlength="100" required placeholder="Apples">
          <input name = "price" type = "text" maxlength = "100" required placeholder = "1.99">
          <select id = 'department' name = 'department'>
            <option value = "produce">produce</option>
            <option value = "meat">meat</option>
            <option value = "dairy">dairy</option>
            <option value = "pantry">pantry</option>
            <option value = "bakery">bakery</option>
            <option value = "frozen">frozen</option>
            <option value = "seafood">seafood</option>
            <option value = "deli">deli</option>
            <option value = "prepared">prepared</option>
            <option value = "other">other</option>
        </select>
        </label>
        <br>
        <button type="submit" id="submit-dream" class = "button is-primary">Add Item</button>
      </form>

      <section class="dreams">
        <ul id="dreams">
          <em>Your list&hellip;</em>
        </ul>
      </section>
    </main>
      </body>
    </div>
    <div class = "column">
      
    </div>
  </div>
</block>
</html>


