<!DOCTYPE html>
<html>
    <!--   Include head with EJS template   -->
    <%- include("./partials/head"); %>
<body>
    <!--   Include head with EJS template   -->
    <%- include("./partials/header"); %>
    <div class="container">
        <div id="app">
            <div v-if="addSuccess && showBanner" class="alert alert-success">
              Succesfully updated recipe!  
            </div>
            <div v-if="!addSuccess && showBanner" class="alert alert-danger">
              Something went wrong trying to update your recipe. Please try again!
            </div>
            <form method="post" onsubmit="submit">
                <h3>{{ message }}</h3>
                <p>Fill out the form below to add a new recipe to the recipe database.</p>

                <div class="card card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Recipe Title</span>
                        </div>
                        <input type="text" class="form-control" id="titleInput" placeholder="Name your recipe!" v-bind:value="recipeTitle">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Ingredients</span>
                        </div>
                        <input type="text" class="form-control" id="ingredientInput" placeholder="Type in an ingredient, then click 'Add'.">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" @click="addIngredient()">Add</button>
                        </div>
                    </div>
                
                    <h4 v-if="ingredients.length > 0">Ingredients:</h4>
                    <ul v-if="ingredients.length > 0">
                        <li v-for="i in ingredients">
                          {{ i }}
                          <button type="button" class="btn btn-danger" style="margin-left: 3rem" @click="removeIngredient(i)">
                            X
                          </button>
                        </li>
                    </ul>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Directions</span>
                        </div>
                        <textarea class="form-control" id="directionsInput" v-bind:value="directions"></textarea>
                    </div>

                    <div class="row justify-content-center">
                        <input id="submitButton" type="button" @click="updateRecipe()" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "Edit Recipe",
                recipeID: null,
                recipeTitle: "",
                ingredients: [],
                directions: "",
                addSuccess: false,
                showBanner: false,
            },
            methods: {
                addIngredient: function() {
                    var val = document.getElementById("ingredientInput").value
                    // Make sure this is a valid, unique ingredient
                    if(val.length > 0 && !this.ingredients.includes(val)) {
                        console.log(val)
                        this.ingredients.push(val)
                    }
                },
                removeIngredient: function(ingredient) {
                  const index = this.ingredients.indexOf(ingredient);
                  if (index > -1) {
                    this.ingredients.splice(index, 1);
                  }
                },
                getRecipe: function() {
                    const recipeTitle = document.getElementById("titleInput").value;
                    const directions = document.getElementById("directionsInput").value;
                    
                    const recipe = {
                        title: recipeTitle,
                        ingredients: this.ingredients,
                        directions: directions,
                    }
                    
                    if(this.recipeID) {
                      recipe.recipeID = this.recipeID
                    }
                    
                    return recipe;
                },
                showStatus: function(success) {
                  this.addSuccess = success
                  this.showBanner = true
                }

            },
            created: function() {
              // Check if there is a recipe ID in url params
              const queryString = window.location.href
              const url = new URL(queryString)
              const id = url.searchParams.get('recipeID')
              console.log(id)
              if(id) {
                fetch(`/recipes/data/single?recipeID=${id}`)
                .then( res => res.json())
                .then( data => {
                  const recipe = data[0]
                  this.recipeTitle = recipe.title;
                  this.ingredients = recipe.ingredients;
                  this.directions = recipe.directions;
                  this.recipeID = recipe._id;
                  
                  console.log(data[0]);
                })
              }
            }
        })

        function sendData() {
            fetch('/recipes/add', {
                method: 'POST',
                body: JSON.stringify(app.getRecipe()),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then( (res) => {
              if(res.status == 200) {
                app.showStatus(true)
              }
              else {
                app.showStatus(false)
              }
              console.log(res.status)
            })
        }
      
      function updateRecipe() {
        fetch('/recipes/edit?recipeID='+ app.recipeID, {
                method: 'POST',
                body: JSON.stringify(app.getRecipe()),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then( (res) => {
              if(res.status == 200) {
                app.showStatus(true)
              }
              else {
                app.showStatus(false)
              }
              console.log(res.status)
        })
      }
    </script>
</body>
</html>