<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <meta charset="utf-8">
    <script src="/script.js" defer></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="get_info">
      <button id = "check_btn"> CHECK SERVER FIELD </button>
      <strong id = "check_txt"> NOT UPDATED </strong>
    </div>

    <div class = "play_button_div" >
      <button id = "play_btn" >PLAY!</button>
      <strong id = "play_text"> </strong>
    </div>

    <div class="input_form">
      <form action="" id = "submit_form">
        <input type='text' id='yourname' value="answer here">
        <button id="submit_btn">submit</button>
      </form>
    </div>
    
  </body>
</html>
