<h1>Here is some test html, I hope it works!</h1>

<form action="/recipes/submit" method="POST">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
</form>

<a href="https://a3-sammoran.glitch.me/auth/github"><button>CLICK ME TO LOGIN</button></a>