<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Make a maze">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <title>Make a Maze</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <% if (!user) { %>
      <script>window.location.href = "https://a3-margaretearnest.glitch.me/login";</script>
    <% } else { %>
    <h1>Hello, <%= user.username %>!</h1>
    <button onclick="window.location.href='/profile'">View your Mazes</button>
    <button onclick="window.location.href='/logout'">Logout</button><br /><br />
    <h2>Maze Generator</h2>
    <form>
      <label for="name">Maze name:</label>
      <input id="name" type="text">
      <label for="rowNum">Number of rows:</label>
      <input id="rowNum" type="number">
      <label for="colNum">Number of columns:</label>
      <input id="colNum" type="number">
      <label for="size">Passage width:</label>
      <input id="size" type="number">
      <label for="drawEnab">Enable Maze Annotation: <input id="drawEnab" type="checkbox"></label>
    </form><br>
    <button onclick="newMaze(<%=user.id%>)">Make Maze</button><br><br>
    <h3 id="mazeName"></h3>
    <div id="maze"></div>
    <% } %>
  </body>
</html>
