<!DOCTYPE html>
<html lang="en">
      <!--   Include head with EJS template   -->
      <%- include("./partials/head"); %>
  <body>
    
    <header>
      <!--   Include header with EJS template   -->
      <%- include("./partials/header"); %>
    </header>
    
    <div class="container">
      <h1>
        MY APP
      </h1>
      
      <p>
        Welcome to my app. For this assignment, I created a site where users can share recipes.
      </p>
      <p>
        To use this site, please login with Github.
      </p>
    </div>
    
    
    
  </body>
</html>
