<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Make a maze">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <title>Make a Maze</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <% if (!user) { %>
      <script>window.location.href = "https://a3-margaretearnest.glitch.me/login";</script>
    <% } else { %>
    <h1>Hello, <%= user.username %>!</h1>
    <button onclick="window.location.href='/profile'">View your Mazes</button>
    <button onclick="window.location.href='/logout'">Logout</button><br /><br />
    <h2>Maze Generator</h2>
    <em>Configure the options for your maze. Keep in mind that mazes larger than 100x100 may take a long time to load or potentially fail to be created. As a note, if you wish to annotate your maze the recommended passage size is 15 or greater, as smaller passage sizes may not work. You can annotate your maze here if you want, but you can only save annotations in your profile.</em><br /><br />
    <form>
      <label for="name">Maze name:</label>
      <input id="name" type="text">
      <label for="rowNum">Number of rows:</label>
      <input id="rowNum" type="number">
      <label for="colNum">Number of columns:</label>
      <input id="colNum" type="number">
      <label for="size">Passage width:</label>
      <input id="size" type="number">
      <label for="drawEnab">Enable Maze Annotation: <input id="drawEnab" type="checkbox"></label>
      <h4>Annotation color (if applicable): </h4>
      <label for="blue"><input type="radio" id="blue" name="color" value="#ADD8E6"> Blue</label>
      <label for="purple"><input type="radio" id="purple" name="color" value="#DDA0DD"> Purple</label>
      <label for="pink"><input type="radio" id="pink" name="color" value="#FFB6C1"> Pink</label>
      <label for="red"><input type="radio" id="red" name="color" value="#CD5C5C"> Red</label>
      <label for="orange"><input type="radio" id="orange" name="color" value="#FF7F50"> Orange</label>
      <label for="yellow"><input type="radio" id="yellow" name="color" value="#F0E68C"> Yellow</label>
      <label for="green"><input type="radio" id="green" name="color" value="#98FB98"> Green</label>
    </form><br>
    <button onclick="newMaze(<%=user.id%>)">Make Maze</button><br><br>
    <h3 id="mazeName"></h3>
    <div id="maze"></div>
    <% } %>
  </body>
</html>
