<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
     <meta http-equiv="pragma" content="no-cache" />
    <script src="/script.js"></script>
  </head>
  <body>
    <link rel="stylesheet" href="/style.css">
    <div class="topnav">
    <icon href="https://cdn.glitch.com/b85cb2f6-a630-41ec-9c41-66e78e9d7fbc%2Ffishing%20icon.png?v=1601345282967"></icon>
    <h2>Hi <%= name%>, welcome back</h2>
    <a href="/logout">log out</a>
    <a href="/register">register</a>
    </div>
    <h1 class="title">Fishing Log</h1>
    <form>
      <center>
      <input type="text" id="fishtype" placeholder="your capture">
      <input type="text" id="fishweight" placeholder="weight in pounds">
      <input type="text" id="line" placeholder="line class">
      <br>
      <button type= "submit" id="submitBtn">submit</button>
      <button id ="deleteButton">clear data</button>
      <input type="checkbox" id="myCheck" onclick="sort_w()">
        <label for= "mycheck">Sort by weight</label>     
      </center>
    </form>
    <br>
    <table id="table1" style="width:100%">
  <tr>
    <th>Name</th>
    <th>Fish Type</th>
    <th>Line Class</th>
    <th>Weight</th>
    <th>Date Captured</th>
  </tr>
  </body>
</html>