
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>HomePage</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/login.css"/>

</head>

<body class="text-center bg-dark">
<form class="form-register">

    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Musician Database</h1>
            <p class="lead">A database of musicians past and present. Add your
                profile today!</p>
            <hr class="my-4">


            <a class="btn btn-dark btn-sm" id="buttonLogin" href="/auth/github"
               role="button">Login with GitHub<img src="/images/github.png"
                                                   class="img-fluid"
                                                   id="githubIco"
                                                   alt="Responsive image"></a>

        </div>
    </div>


    <p class="mt-5 mb-3 text-muted">Musician Database 2020</p>
</form>
</body>
</html>