<!DOCTYPE html>
<html lang="en">
      <!--   Include head with EJS template   -->
      <%- include("./partials/head"); %>
  <body>
    
    <header>
      <!--   Include header with EJS template   -->
      <%- include("./partials/header"); %>
    </header>
    
    <div class="container">
      <h1>
        <%= message %>
      </h1>
    </div>
  </body>
</html>
