<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="login_scripts.js"></script>
    <meta charset="utf-8">
  </head>
  <body>
    <form action="">
      <h1 class="title">TODO - Login</h1>

      <label for="UsersName">
      Username
      <input type='text' id='username' placeholder="">
      </label>

      <label for="UsersPassword">
      Password
      <input type='text' id='password' placeholder="">
      </label>

      <button id="loginBtn">Login</button>
      <button id="github" href="/auth/github">Github</button>
    </div>
    </form>

    <div> </div>
  </body>
</html>
