<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="styles.css">    
  <script src="/script_login.js"></script>
</head>    
<body>    
    <h1>Login Page</h1><br>    
    <form id="login">    
        <label><b>User Name:     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password: 
        </b>    
        </label>    
        <input type="password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <button id="login_button">Login</button> 
        <br><br>    
    </form>       
  <a href="/register">Register</a>
</body>    
</html>     