<!DOCTYPE html>
<html>
  <!--  Include head with EJS template  -->
  <%- include("./partials/head"); %>
<body>
  <header>
  <!--   Include header with EJS template   -->
    <%- include("./partials/header"); %>
  </header>
  
    <div class="container">
        <h1>Your Recipes</h1>
        <div id="app">
            <div class="card" v-for="r in recipes">
              <div class="card-body">
                <h2>{{ r.title }}</h2>
                <h4>Ingredients</h4>
                <ul>
                  <li v-for="i in r.ingredients"> {{ i }}</li> 
                </ul>
                <h4>Directions</h4>
                <p>
                  {{ r.directions }}
                </p>
                <div class="col text-center">
                  <button class="btn btn-info" @click='editRecipe(r._id)' style="padding: 1rem 3rem; margin: 2rem; min-width: 10rem">
                    EDIT
                  </button>
                  <button class="btn btn-danger" @click='deleteRecipe(r._id)'  style="padding: 1rem 3rem; margin: 2rem; ">
                    DELETE
                  </button>
                </div>
            </div>
          </div>
        </div>
    </div>

    <script>

        var app = new Vue({
                el: "#app",
                data: {
                    recipes: []
                },
                methods: {
                  deleteRecipe: function(recipeID) {
                    console.log("Deleting ", recipeID)
                    fetch('/recipes/delete', {
                      method: 'POST',
                      body: JSON.stringify({recipeID: recipeID}),
                      headers: {
                          "Content-Type": "application/json"
                      }
                    })
                    
                  }
                },
              created: function() {
                  fetch('/recipes/data?userID=<%= userID %>')
                  .then( res => res.json())
                  .then( data => {
                      this.recipes = data;
                      console.log(data) })
              }

            })

    </script>

</body>
</html>