<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div class="container">
        <h1>Your Recipes</h1>
        <div id="app">
            <div class="card" v-for="r in recipes">
              <div class="card-body">
                <h2>{{ r.title }}</h2>
                <h3>{{r._id}}</h3>
                <h4>Ingredients</h4>
                <ul>
                  <li v-for="i in r.ingredients"> {{ i }}</li> 
                </ul>
                <h4>Directions</h4>
                <p>
                  {{ r.directions }}
                </p>
                <div class="col text-center">
                  <button class="btn btn-info" onclick="console.log('{{ r._id }}')" style="padding: 1rem 3rem; margin: 2rem; min-width: 10rem">
                    EDIT
                  </button>
                  <button class="btn btn-danger" v-bind:onclick='console.log(r._id)'  style="padding: 1rem 3rem; margin: 2rem; ">
                    DELETE
                  </button>
                </div>
            </div>
          </div>
        </div>
    </div>

    <script>

        var app = new Vue({
                el: "#app",
                data: {
                    recipes: []
                },
                methods: {

                },
                created: function() {
                    fetch('/recipes/data?userID=<%= userID %>')
                    .then( res => res.json())
                    .then( data => {
                        this.recipes = data;
                        console.log(data)
                    })
                }
            })

    </script>

</body>
</html>