<%- include('./partials/headers.ejs'); %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <a class="btn btn-block btn-social btn-github" href="/users/login/github">
        <span class="fa fa-github"></span> Sign in with Github
      </a>
      <p class="m-auto pt-2">Or</p>
      <%- include('./partials/messages.ejs'); %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="user">Name</label>
          <input
            type="name"
            id="user"
            name="user"
            class="form-control"
            placeholder="Enter Name"
            value=""
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value=""
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value=""
            required
          />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            class="form-control"
            placeholder="Confirm Password"
            value=""
            required
          />
        </div>
        <button type="submit" class="btn btn-dark btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/signin" class="text-secondary">Sign in</a></p>
    </div>
  </div>
</div>