<html>    
<head>    
    <title>Register</title>    
    <link rel="stylesheet" type="text/css" href="styles.css">    
  <script src="/script_register.js"></script>
</head>    
<body>    
    <h1>Register</h1><br>    
    <form id="register">    
        <label><b>User Name:    
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password:
        </b>    
        </label>    
        <input type="password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <button id="reg_button">Register</button> 
        <label id ="reg_status"></label>
        <br><br>    
    </form>       
  <a href="/login">Login</a>
</body>    
</html>     