<!DOCTYPE html>
<html>
<!--  Include head with EJS template  -->
<%- include("./partials/head"); %>
  
<body>
  <!--  Include head with EJS template  -->
  <%- include("./partials/header"); %>
  <div class="container">
        <h1>Results</h1>
        <div id="app">
          
          
        <div class="card" v-for="r in recipes">
          <div class="card-body">
                  <h2>{{ r.title }}</h2>
                  <h4>Ingredients</h4>
                  <ul>
                    <li v-for="i in r.ingredients"> {{ i }}</li> 
                  </ul>
                  <h4>Directions</h4>
                  <p>
                    {{ r.directions }}  
                  </p>
              </div>
          </div>
          </div>
    </div>

    <script>
        var app = new Vue({
                el: "#app",
                data: {
                    recipes: []
                },
                methods: {},
                created: function() {
                    fetch('/recipes/data')
                    .then( res => res.json())
                    .then( data => {
                        this.recipes = data;
                        console.log(data)
                    })
                }
            })
    </script>

</body>
</html>