<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Show All Orders : Milktea Order and Pickup</title>

    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>


    <!-- import the webpage's client-side javascript file -->
    <script src="/script_result.js" defer></script>
</head>
<body  style="background-color: #ddd8d9">
<h1 class="mui--text-center mui--text-dark-secondary mui--text-display2">Hi admin, all results: </h1>
<h2 class="mui--text-center mui--text-dark-secondary mui--text-headline">Results</h2>
<div class="mui-container">
    <div class="mui-panel mui--divider-right mui--text-dark-secondary mui--text-subhead mui--z3" style="background-color: #ffe9ec">
        <table class="mui-table mui-table--bordered">
            <thead>
            <tr>
                <th>User name</th>
                <th>Tea Base</th>
                <th>Milk</th>
                <th>Topping / Add-in</th>
                <th>Pickup Time</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <button class="mui-btn mui-btn--primary" type="submit" id="logout_admin">Logout</button>
</div>
</body>
</html>
