<div class="row mt-5 mx-auto" style="width: 50rem;">
    <div class="card card-body mt-5">
        <p class="mx-auto">Create an account or login</p>
        <a href="/users/register" class="btn btn-dark btn-block mb-2">
            Register
        </a>
        <a href="/users/signin" class="btn btn-secondary btn-block">Login</a>
    </div>
</div>
