<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel = 'stylesheet' href = "../public/style.css">
</head>

<body>
  <br><br><br>
    <div class = "block">
      <div class = "columns">
        <div class = "column">
          
        </div>
        <div class = "column is-centered">
          <div class = 'box'>
            <h1 class = "title is-2 has-text-centered">
            Grocery Manager
            </h1>

            <p class = "has-text-centered">
              Create an account or log in
            </p><br>
            <div class = "has-text-centered">
              <a href='/users/register' class = "button is-primary">Register</a>
              <a href = '/users/login' class = "button is-primary">Login</a>
            </div>
          </div>
        </div>
        <div class = "column">
          
        </div>
      </div>
  </div>
  
</body>

