/*main page*/

#mainform{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-auto-flow: row;
}

#mainform > input{
    text-align: center;
}

#timesheet{
    font-size: x-large;
    width: 90%;
    border-collapse: collapse;
}

.mainpage{
    display: grid;
    background-color: #f9f9f9;
    color: #4a4a4a;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border-radius: 25px;
    grid-template-areas: 
        'header header header header header'
        'left content content content content';
}

.mainpage > div{
    padding: 12px 0;
}

.header{
    grid-area: header;
    text-align: center;
}

.left{
    grid-area: left;
    text-align: center;
}

.content{
    grid-area: content;
}

html,
body,
input,
textarea,
button {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-family:'Times New Roman', Times, serif;
}

button {
    font-size: 1em;
}

input {
    font-size: 1em;
}


