.loginDiv {
    background-color: aquamarine;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
}

.mainDiv{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    border-color: antiquewhite;
}

button {
    font-size: 1em;
}

input {
    font-size: 1em;
}

.edit {
    margin-left: -1.5rem;
    float: right;
    font-size: inherit + 1rem;
}

.delete {
    justify-self: center;
}

tr {
    text-align: center;
}

div {
    text-align: center;
}

.mid {
    margin: 4rem;
}