body {
    background-color:white;
}

h1, h2 {
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Shrikhand', cursive;
    font-size: 4vw;
    color:green;
}


label {
    display: flex;
    justify-content: flex-start;
    font-size: 2vw;

}


button {
    width: 30%;
    justify-content: center;
    font-size: 2vw;
}

input {
    height: auto;
    font-size: 1.8vw;
}

img {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

h1.welcome-header {
    margin-top: -5px;
}


div.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.buttons-flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.center {
    width: 50%; 
    margin: 0 auto;
}

.margin-spacer {
    margin: 15px;
    margin-bottom: 28px;
}
