body {
    font-family: Quicksand;
    color:	#343434;
    font-size: 25px;
}

button {
    font-family: inherit;
    font-size: inherit;
}

.edit, .delete {
    display: inline-block;
    padding: 1px;
    border-radius: 1px;
    font-size: 2rem;
}

form {
    font-size: 2rem;
}

input {
    font-family: inherit;
    font-size: inherit;
}

.entry {
    width: 12rem;
}

td {
    text-align: center;
}