.widget-right {
  box-shadow: none !important;
}

#openweathermap-widget-15 {
  z-index: 0;
}

#threeJS {
    visibility: hidden;
    position: absolute;
}

#hud {
    visibility: hidden;
    z-index: 1;
}

#restart {
    cursor: pointer;
}

canvas {
    background: linear-gradient(0deg, #FDBB2D 0%, #3A1C71 100%);
}