/*
Color Wheel:
A: (Blue)   #0011A8
B: (Blue)   #1930FF
C: (Base)   #0119F5
D: (Yellow) #A88300
E: (Yellow) #F5BF00
*/

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

button {
    font-family: inherit;
    font-size: 1em;
}

input {
    font-family: inherit;
    font-size: 1em;
}

#mainForm {
    display: grid;
    gap: 10px;
    align-items: center;
    justify-items: center;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
}

#mainForm > input {
    text-align: center;
}

#mainForm > button:hover {
    background-color: darkgreen;
}

#resultsTable{
    font-size: x-large;
    width: 100%;
    border-collapse: collapse;
    border-top: none;
}

#resultsTable, th, td {
    border: 1px solid lightgray;
    border-top: none;
    padding: 10px;
}

.grid-container {
    display: inline-block;
    text-align: center;
    background: lightgray;
    display: grid;
    gap: 1px;
    grid-template-areas: 
        'header header header header header'
        'left content content content content';
}

.header { grid-area: header; }
.left { grid-area: left; }
.content { grid-area: content; }

.grid-container > div {
    text-align: center;
    background-color: black;
    padding: 20px 0;
}