body {
    background-image: url("https://cdn.glitch.com/bb7028ac-f733-4f0f-8f4c-7333e1109a24%2Fbackground.jpg?v=1600960783655");
    background-color: #32C6DB;
}

.title{
    font-family: Futura;
    font-size: 30px;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
}

input[Type = text]{
    font-family: Futura;
    border: 3px solid darkblue;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

input[Type = password]{
    font-family: Futura;
    border: 3px solid darkblue;
    padding: 16px 32px;
    margin: 6px 11px;
    cursor: pointer;
}
button{
    font-family: Futura;
    background-color: #359ddb;
    border: 3px solid darkblue;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 138px;
    cursor: pointer;
}
