/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}
/* this file is loaded by index.html and styles the page */
ion-toolbar{
    --ion-background-color: #A4B7BB;
}
ion-item{
  --border-color:#A4B7BB;
  --border-radius: 12px;
  --border-width:3px;
  --detail-icon-font-size: 14px;
  --color: #A4B7BB;


}
ion-header{
   --ion-background-color: #A4B7BB;
}
ion-content{
  --ion-background-color: #E8ECED
}

body{
   display: inline-block;
    text-align: center;
}
form{
  display: inline-block;
    text-align: center;
}
ion-card{
    ion-card{
    display: flex;
    flex-direction: column;
    width: 100% ;
    margin: 0; 
  }
}
button {
  transition-duration: 0.6s;    
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background-color:#f2f2f2;
	border-radius:6px;
	border:1px solid #A4B7BB;
	cursor:pointer;
	font-size:15px;
	padding:6px 24px;
}

button:hover {
  background-color: #76A0B0;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}


table{
  text-align: center;
  width:70%; 

  margin-left:15%; 
  margin-right:15%;
  align-items: center; 
  justify-content: center; 
}

table td, table th {  

  border: 1px solid #ddd;
  padding: 8px;
  
}

table tr:nth-child(even){
  background-color: #f2f2f2;}

table tr:hover {background-color: 
  #76A0B0;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #35262D;
  color: #FFFBFF;
}