html, body {
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input {
    width: 500px;
}

.button {
    background-color: #f5f5f5;
    font-weight: 500;
}

#mean-score {
    font-weight: 500;
}

.subtitle strong {
    color: #363636;
    font-weight: 500;
}
